<div class="allTeams">
    <div *ngIf="!isLoggedIn" class="msg">
        <p>To see all teams, join other teams, create own teams and manage your tasks you should login or register!</p>
        <ul>
            <li>If you have an account <a routerLink="/login">Login here</a></li>
            <li>If you don't have an account <a routerLink="/register">Register here</a></li>
        </ul>
    </div>
    
    <div *ngIf="isLoggedIn" class="all-teams">
        <div class="search-container">
            <div class="container-form">
                <form class="form" #form="ngForm" (ngSubmit)="searchText(form)">
                    <div class="search-input">
                        <input type="text" name="searchTeam" id="teamName" placeholder="Enter team name" #inputSearchTeam="ngModel" ngModel>
                    </div>
        
                    <div class="btns">
                        <button class="search-btn">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="allTeams-title">
            <h2>All teams</h2>
        </div>

        <div *ngIf="teams?.length === 0" class="no-team-msg">
            <p>There are no teams yet!</p>
        </div>

        <div *ngIf="teams?.length !== 0" class="teams">
            <div *ngFor="let team of teams" class="teams-container">
                <div class="team-card">
                    <div class="team-title">
                        <h2>{{ team.title }}</h2>
                    </div>
                    
                    <div class="team-info">
                        <p>Owner: {{ team.owner }}</p>
                    </div>
                
                    <div class="btns">
                        <a [routerLink]="team._id" class="btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="lastTeams">
        <app-last-teams />
    </div>
</div>