<div class="team-detail-container">
    <ng-container *ngIf="!showEditMode">
        <div class="team-detail-content">
            <div class="team-detail-title">
                <h2>{{ team.title }}</h2>
            </div>
            
            <div class="team-detail-info">
                <p class="own-info">Owner: {{ team.owner }}</p>
                <p>Description: {{ team.description }}</p>
            </div>
    
            <div *ngIf="isLoggedIn && isOwner(team)" class="btns">
                <a class="btn-edt" (click)="onToggle()">Edit</a>
                <a class="btn-del" (click)="onDeleteToggle()">Delete</a>
            </div>

            <ng-container *ngIf="isLoggedIn">
                <app-participants [ownerId]="team._ownerId" [teamKey]="team.teamKey" />
            </ng-container>
        </div>
    </ng-container>

   
    <div *ngIf="!showEditMode && (hasJoinedParticipant || isOwner(team))" class="tasks">
        <app-tasks-list />
    </div>

    <ng-container *ngIf="showEditMode">
        <app-team-edit [teamInfo]="team"/>
    </ng-container>

    <div *ngIf="showDeleteModal && !showEditMode" class="delete-modal-container">
        <app-delete-modal [itemTitle]="team.title" (deleteConfirmation)="onConfirm($event)"/>
    </div>
</div>