.teams-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-bottom: 5em;
}

.teams {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.lastTeams-title {
    letter-spacing: 2px;
    color: rgb(32, 72, 85);
}

.team-card {
    border: 1px solid rgb(49, 110, 131);
    border-radius: 1.5em;
    width: 600px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-title {
    border: 1px solid rgb(49, 110, 131);
    border-radius: 1.5em;
    background-color: rgb(49, 110, 131);
    color: white;
    width: 550px;
}

.btns {
    border: 2px solid rgb(224, 152, 58);
    border-radius: 1em;
    width: 100px;
    padding: 3px 5px;
    background-color: rgb(224, 152, 58); 
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns a {
    text-decoration: none;
    color: white;
}

.btns:hover {
    border: 2px solid white;
    background-color: rgb(49, 110, 131);
}