<div class="teams-container">
    <div class="lastTeams-title">
        <h2>Last Teams</h2>
    </div>

    <div *ngIf="lastTeams?.length === 0" class="no-team-msg">
        <p>There are no teams yet!</p>
    </div>

    <div *ngIf="lastTeams?.length !== 0" class="teams">
        <div *ngFor="let team of lastTeams" class="lastTeams-container">
            <div class="team-card">
                <div class="team-title">
                        <h2>{{ team.title }}</h2>
                </div>
            
                <div class="team-info">
                    <p>Owner: {{ team.owner }}</p>
                </div>

                <div *ngIf="isLoggedIn" class="btns">
                    <a [routerLink]="team._id" class="btn">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>