.not-found-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(97, 167, 190);
}

.not-found-content {
    font-size: 70px;
    letter-spacing: 10px;
    color: white;
    font-weight: bold;
}