<div class="edit-task-container">
    <div class="container-name">
        <h2>Edit task</h2>
    </div>

    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="saveTaskChangesHandler()">
            <div class="edit-task-title">
                <label for="taskTitle">Title</label>
                <input type="text" name="taskName" id="taskTitle" [value]="taskEdit.taskName" formControlName="taskName">

                <ng-container *ngIf="form.get('taskName')?.touched">
                    <p class="error" *ngIf="form.get('taskName')?.errors?.['required']">Title is required!</p>
                    <p class="error" *ngIf="form.get('taskName')?.errors?.['minlength']">Title must be at least 3 characters!</p>
                </ng-container>
            </div>

            <div class="edit-task-startDate">
                <label for="startDate">Start date</label>
                <input type="date" name="startDate" id="startDate" [value]="taskEdit.startDate" formControlName="startDate">

                <ng-container *ngIf="form.get('startDate')?.touched">
                    <p class="error" *ngIf="form.get('startDate')?.errors?.['required']">Start date is required!</p>
                </ng-container>
            </div>

            <div class="edit-task-endDate">
                <label for="endDate">End date</label>
                <input type="date" name="endDate" id="endDate" [value]="taskEdit.endDate" formControlName="endDate">

                <ng-container *ngIf="form.get('endDate')?.touched">
                    <p class="error" *ngIf="form.get('endDate')?.errors?.['required']">End date is required!</p>
                </ng-container>
            </div>

            <div class="edit-task-progress">
                <label for="progressOption">Progress</label>
                <select name="progress" id="progressOption" [value]="taskEdit.progress" formControlName="progress">
                    <option value="To do">To do</option>
                    <option value="In progress">In progress</option>
                    <option value="Done">Done</option>
                </select>

                <ng-container *ngIf="form.get('progress')?.touched">
                    <p class="error" *ngIf="form.get('progress')?.errors?.['required']">Progress is required!</p>
                </ng-container>
            </div>

            <div class="edit-task-description">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" rows="3" [value]="taskEdit.description" formControlName="description"></textarea>

                <ng-container *ngIf="form.get('description')?.touched">
                    <p class="error" *ngIf="form.get('description')?.errors?.['required']">Description is required!</p>
                    <p class="error" *ngIf="form.get('description')?.errors?.['maxlength']">Description should not be more than 60 characters long!</p>
                </ng-container>
            </div>

            <div class="btns">
                <button class="btn">Edit</button>
            </div>
        </form>
    </div>
</div>