.title {
    padding: 0.6em;
    color: rgb(32, 72, 85);
    text-align: center;
}

.comments-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0.8em;
}

.btn-create {
    border: 1px solid rgb(224, 152, 58);
    border-radius: 0.5em;
    padding: 5px 10px;
    color: rgb(224, 152, 58);
    font-weight: bold;
}

.create-btn a:hover {
    border: 1px solid rgb(49, 110, 131);
    background-color: rgb(49, 110, 131);
    color: white;
    font-weight: bold;
    cursor: pointer;
}