<div class="comments">
    <div class="title">
        <h2>Comments</h2>
    </div>

    <!-- <div *ngFor="let comment of comments" class="comments-container">
        <app-comments-details [commentInfo]="comment" [teamId]="teamId"/>
    </div> -->

    <div class="create-btn">
        <a class="btn-create" (click)="onCreate()">Create a new comment</a>

        <ng-container *ngIf="showCreateMode">
            <app-create-comment [taskId]="taskID" [teamId]="teamId" />
        </ng-container>
    </div>
</div>