.participants-container {
    border-radius: 0.3em;
    margin-top: 0.8em;
}

.btns, text {
    margin-top: 0.6em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 2em;
    text-align: center;
}

.btn-jn {
    width: 15%;
    height: 30px;
    margin-top: 0.6em;
    border: 1px solid white;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: lightblue;
}

.btn-jn:hover {
    cursor: pointer;
}

.txt-jn {
    text-align: center;
    color: rgb(212, 168, 110);
}