<div class="tasks">
    <div class="filter-tasks">
        <button (click)="getFilteredTasks('')">All tasks</button>
        <button (click)="getFilteredTasks('To do')">To do</button>
        <button (click)="getFilteredTasks('In progress')">In progress</button>
        <button (click)="getFilteredTasks('Done')">Done</button>
    </div>

    <div *ngIf="tasks?.length === 0" class="no-task-msg">
        <p>There are no tasks yet!</p>
    </div>

    <div *ngIf="tasks?.length !== 0" class="all-tasks">
        <div *ngFor="let task of tasks" class="task-container">
            <div class="task-card">
                <div class="task-header">
                    <p>{{ task.taskName }}</p>
                    <p>{{ task.email }}</p>
                </div>
    
                <div class="task-info">
                    <div class="basic-info">
                        <p>Start: {{ task.startDate | date: "dd.MM.yyyy"}}</p>
                        <p>End: {{ task.endDate | date: "dd.MM.yyyy"}}</p>
                        <p>Progress: {{ task.progress }}</p>
                    </div>
                </div>

                <div class="task-detail-info">
                    <a [routerLink]="task._id" class="btn">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="create-btn">
        <ng-container *ngIf="showCreateMode">
            <app-create-task [teamId]="teamID" />
        </ng-container>
        
        <a class="btn-create" (click)="onCreate()">Create a new task</a>
    </div>
</div>