<div class="tasks">
    <div class="filter-tasks">
        <button (click)="getFilteredTasks('')">All tasks</button>
        <button (click)="getFilteredTasks('To do')">To do</button>
        <button (click)="getFilteredTasks('In progress')">In progress</button>
        <button (click)="getFilteredTasks('Done')">Done</button>
    </div>

    <div *ngFor="let task of tasks" class="task-container">
        <div class="task-card">
            <div class="task-header">
                <p>{{ task.taskName }}</p>
                <p>{{ task.email }}</p>
            </div>

            <div class="task-info">
                <div class="basic-info">
                    <p>Start: {{ task.startDate }}</p>
                    <p>End: {{ task.endDate }}</p>
                    <p>Progress: {{ task.progress }}</p>
                </div>

                <p>Description: {{ task.description }}</p>
            </div>
        
            <div *ngIf="isOwner(task._ownerId)" class="btns">
                <a class="btn-del" (click)="delete(task._id)">Delete</a>
            </div>
        </div>
    </div>

    <div class="create-btn">
        <ng-container *ngIf="showCreateMode">
            <app-create-task [teamId]="teamID" />
        </ng-container>
        
        <a class="btn-create" (click)="onCreate()">Create a new task</a>

    </div>
</div>